# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs / Editors
.idea/
.vscode/
*.swp
*.swo

# macOS / Windows
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
